* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: sans-serif;
    background-image: url("/image/country-flags.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.wrapper {
    max-width: 1400px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.box {
    max-width: 1000px;
    min-height: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 60px;
    border-radius: 30px;
    padding: 40px;
    background-color: rgba(128, 128, 128, 0.87);
}

.inputs {
    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    height: 100%;
}

select {
    min-width: 220px;
    background-color: cornflowerblue;
    border-radius: 8px;
    height: 30px;
    border: 1px solid #103def;
    outline: none;
    appearance: none;
    padding-left: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#holiday-date {
    min-width: 220px;
    background-color: cornflowerblue;
    border-radius: 8px;
    height: 30px;
    border: 1px solid #103def;
    text-indent: 10px;
    outline: none;
    appearance: none;
}

.table > table {
    width: 100%;
    margin: 20px 0;
}

table, th, td {
    border: 1px solid rgba(250, 235, 215, 0.71);
    border-collapse: collapse;
    padding: 5px 8px;
}

th {
    color: white;
    padding: 8px 10px;
}

td {
    color: rgba(255, 255, 255, 0.84);
}