* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

main {
    display: flex;
    align-items: flex-start;
}

.sidebar-box {
    height: 100vh;
    max-width: 300px;
    width: 100%;
    background-color: #226fd5;
    transition: 0.5s;
}

.sidebar-menu {
    list-style: none;
}

.menu-item {
    padding: 10px 16px;
    border-left: 4px solid transparent;
    margin: 20px 0;
    display: flex;
    align-items: center;
    overflow: hidden;
    color: #ffffff80;
    cursor: pointer;
}

.menu-item i {
    font-size: 30px;
    margin-right: 10px;
}

.bi-list {
    display: none;
}

.btn-icon {
    background-color: transparent;
    border: none;
    font-size: 30px;
    margin: 20px;
    cursor: pointer;
    color: #ffffff;
}

.box-btn {
    background: #226fd5;
    width: 100%;
}

.shrink {
    width: 0;
}

.menu-item span {
    transition: 0.3s;
}

.shrink .menu-item span {
    opacity: 0;
}

.menu-show .bi-list {
    display: block;
}

.menu-show .bi-x-circle {
    display: none;
}