* {
    padding: 0;
    margin-top: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}
.title {
    font-size: 2rem;
}
.form {
    margin: 20px 0;
}
.input-time {
    background: antiquewhite;
    border-radius: 10px;
    border: none;
    padding: 5px 10px;
    outline: none;
}
.submit {
    background: #57bf23;
    color: #fff;
    padding: 7px 15px;
    border: 1px solid #57bf23;
    border-radius: 10px;
}
#res {
    width: 30%;
    background: rgba(122, 122, 121, 0.54);
    text-align: center;
    color: white;
    padding: 20px 0;
    border-radius: 20px;
}
.rang {
    color: red;
    padding: 6px 0;
}